<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common :: head('Form')"> </head>
    <body>
        <nav
            th:replace="fragments/common :: menu('board')"
            class="navbar navbar-expand-lg navbar-dark bg-dark"
            aria-label="Fifth navbar example"
        ></nav>

        <div class="container">
            <h1>Create Forum(Content)</h1>

            <form th:action="@{/board/form}" th:object="${board}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="title"
                        id="title"
                        th:field="*{title}"
                        th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                    />
                    <div
                        id=""
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}"
                    >
                        Please select a valid state.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <textarea
                        class="form-control"
                        rows="8"
                        id="content"
                        placeholder="content"
                        th:field="*{content}"
                        th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                    >
                    </textarea>
                    <div
                        id=""
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('content')}"
                        th:errors="*{content}"
                    >
                        Please select a valid state.
                    </div>
                </div>
                <div class="text-end">
                    <a
                        type="button"
                        class="btn btn-primary"
                        th:href="@{/board/list}"
                        >Cancel</a
                    >
                    <button
                        type="button"
                        class="btn btn-danger"
                        sec:authorize="hasRole('ROLE_ADMIN')"
                        th:onclick="|deleteBoard(*{id})|"
                    >
                        Delete
                    </button>
                    <button type="submit" class="btn btn-primary">Write</button>
                </div>
            </form>
        </div>

        <footer th:replace="fragments/common :: footer"></footer>

        <script>
            function deleteBoard(id) {
                // DELETE /api/boards/{id}
                $.ajax({
                    url: '/api/boards/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        // Do something with the result
                        console.log('result ', result);
                        alert('Deleted');
                        window.location.href = '/board/list';
                    },
                });
            }
        </script>
    </body>
</html>
