<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common :: head('Board')"> </head>
    <body>
        <nav
            th:replace="fragments/common :: menu('board')"
            class="navbar navbar-expand-lg navbar-dark bg-dark"
            aria-label="Fifth navbar example"
        ></nav>

        <div class="container">
            <h1>Board</h1>

            <div>
                Total Number: <span th:text="${boards.getTotalElements}"></span>
            </div>

            <div class="d-flex justify-content-end">
                <form class="row g-3" method="GET" th:action="@{/board/list}">
                    <div class="col-auto">
                        <label for="searchText" class="visually-hidden"
                            >Search</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="searchText"
                            name="searchText"
                            th:value="${param.searchText}"
                        />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-light mb-3">
                            Search
                        </button>
                    </div>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards}">
                        <th th:text="${board.id}">1</th>
                        <td>
                            <a
                                th:text="${board.title}"
                                th:href="@{/board/form(id=${board.id})}"
                                >Mark</a
                            >
                        </td>
                        <td th:text="${board.user.username}">Otto</td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li
                        class="page-item"
                        th:classappend="${1 == boards.getPageable().getPageNumber() + 1} ? 'disabled'"
                    >
                        <a
                            class="page-link"
                            th:href="@{/board/list(page=${boards.getPageable().getPageNumber() - 1}, searchText=${param.searchText})}"
                            >Previous</a
                        >
                    </li>
                    <li
                        class="page-item"
                        th:classappend="${i == boards.getPageable().getPageNumber() + 1} ? 'disabled'"
                        th:each="i: ${#numbers.sequence(startPage, endPage)}"
                    >
                        <a
                            class="page-link"
                            href="#"
                            th:text="${i}"
                            th:href="@{/board/list(page=${i-1}, searchText=${param.searchText})}"
                            >1</a
                        >
                    </li>
                    <li
                        class="page-item"
                        th:classappend="${boards.getTotalPages() == boards.getPageable().getPageNumber() + 1} ? 'disabled'"
                    >
                        <a
                            class="page-link"
                            href="#"
                            th:href="@{/board/list(page=${boards.getPageable().getPageNumber() + 1}, searchText=${param.searchText})}"
                            >Next</a
                        >
                    </li>
                </ul>
            </nav>

            <div class="text-end">
                <a
                    type="button"
                    class="btn btn-primary"
                    th:href="@{/board/form}"
                    >Write</a
                >
            </div>
        </div>
        <footer th:replace="fragments/common :: footer"></footer>
    </body>
</html>
